/venv/
/*/migrations/
/*/*/migrations/
/__pycache__/
/*/__pycache__/
/*/*/__pycache__/
/ducatus_exchange/settings_local.py
gunicorn.conf.py
celerybeat-schedule
/.idea
/ducatus_exchange/stats/last_block_info/DUC*
